{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "proseWrap": "preserve",
  "endOfLine": "lf",
  "ignorePatterns": ["**/*.java"],
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular",
        "printWidth": 120
      }
    },
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript",
        "printWidth": 120,
        "tabWidth": 2,
        "trailingComma": "all",
        "bracketSpacing": true,
        "arrowParens": "avoid",
        "bracketSameLine": true
      }
    },
    {
      "files": [
        "*.json",
        "*.yml",
        "*.yaml"
      ],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
