<app-navbar></app-navbar>

@if (profileState$ | async; as state) {
  <section>
    <div class="container">
      <nav aria-label="breadcrumb" style="margin-top: 8px;">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="['/']">Home</a>
          </li>
          <li class="breadcrumb-item active">Users</li>
          <li aria-current="page" class="breadcrumb-item active">
            {{ state.appData?.data?.user.firstName }} {{ state.appData?.data?.user.lastName }}
          </li>
        </ol>
      </nav>

      <div class="bg-white shadow rounded-lg d-block d-sm-flex" style="border-radius: 8px;">
        <div class="profile-tab-nav border-right">
          <div class="p-4">
            <div class="img-circle text-center mb-3">
              <span style="position: relative">
                <img [alt]="state.appData?.data?.user.firstName" [src]="state.appData?.data?.user.imageUrl"
                     class="shadow" />
                <i (click)="fileInput.click()" class="bi bi-camera-fill right-position"></i>
              </span>
            </div>
            <h4
              class="text-center">{{ state.appData?.data?.user.firstName }} {{ state.appData?.data?.user.lastName }}</h4>
            <span>Since {{ state.appData?.data?.user.createdAt | date: 'MMMM d, y' }}</span>
          </div>
          <div aria-orientation="vertical" class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
            <a aria-controls="profile" aria-selected="true" class="nav-link active" data-bs-target="#profile-tab"
               data-bs-toggle="pill" id="profile" role="tab">
              <i class="bi bi-person-circle" style="margin-right: 12px;"></i> Profile
            </a>
            <a aria-controls="password" aria-selected="true" class="nav-link" data-bs-target="#password-tab"
               data-bs-toggle="pill" id="password" role="tab">
              <i class="bi bi-key-fill" style="margin-right: 12px;"></i> Password
            </a>
            <a aria-controls="security" aria-selected="true" class="nav-link" data-bs-target="#security-tab"
               data-bs-toggle="pill" id="security" role="tab">
              <i class="bi bi-shield-shaded" style="margin-right: 12px;"></i> Authorization
            </a>
            <a aria-controls="application" aria-selected="true" class="nav-link" data-bs-target="#application-tab"
               data-bs-toggle="pill" id="application" role="tab">
              <i class="bi bi-gear" style="margin-right: 12px;"></i> Account
            </a>
            <a aria-controls="notification" aria-selected="true" class="nav-link" data-bs-target="#notification-tab"
               data-bs-toggle="pill" id="notification" role="tab">
              <i class="bi bi-lock-fill" style="margin-right: 12px;"></i> Authentication
            </a>
          </div>
        </div>

        <div class="tab-content p-4 p-md-5" id="v-pills-tabContent" style="border-left: 1px solid #d4d0d0;">
          <!-- Profile tab -->
          <div aria-labelledby="profile" class="tab-pane fade show active" id="profile-tab" role="tabpanel"
               style="min-height: 510px;">
            <h3 class="mb-4">Profile Settings</h3>
            <form #profileForm="ngForm" (ngSubmit)="updateProfile(profileForm)">
              <input [ngModel]="state.appData?.data?.user.id" name="id" type="hidden">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input [disabled]="!hasPermission('UPDATE:USER') || (isLoading$ | async)"
                           [ngModel]="state.appData?.data?.user.firstName" class="form-control" id="firstName" name="firstName"
                           type="text">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input [disabled]="!hasPermission('UPDATE:USER') || (isLoading$ | async)"
                           [ngModel]="state.appData?.data?.user.lastName" class="form-control" id="lastName" name="lastName"
                           type="text">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input [disabled]="!hasPermission('UPDATE:USER') || (isLoading$ | async)"
                           [ngModel]="state.appData?.data?.user.email" class="form-control" id="email" name="email" type="text">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="phoneNumber">Phone</label>
                    <input [disabled]="!hasPermission('UPDATE:USER') || (isLoading$ | async)"
                           [ngModel]="state.appData?.data?.user.phoneNumber" class="form-control" id="phoneNumber" name="phoneNumber"
                           type="text">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="address">Address</label>
                    <input [disabled]="!hasPermission('UPDATE:USER') || (isLoading$ | async)"
                           [ngModel]="state.appData?.data?.user.address" class="form-control" id="address" name="address"
                           type="text">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="title">Job Title</label>
                    <input [disabled]="!hasPermission('UPDATE:USER') || (isLoading$ | async)"
                           [ngModel]="state.appData?.data?.user.title" class="form-control" id="title" name="title" type="text">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="bio">Bio</label>
                    <textarea [disabled]="!hasPermission('UPDATE:USER') || (isLoading$ | async)"
                              [ngModel]="state.appData?.data?.user.bio" class="form-control" id="bio" name="bio"
                              rows="4"></textarea>
                  </div>
                </div>
              </div>
              <div>
                <button [disabled]="!hasPermission('UPDATE:USER') || (isLoading$ | async)"
                        class="btn btn-primary" type="submit">
                  @if (isLoading$ | async) {
                    <span aria-hidden="true" class="spinner-border spinner-border-sm" role="status"
                          style="margin-right: 5px;"></span>
                    <span>Loading...</span>
                  } @else {
                    <span>Update</span>
                  }
                </button>
              </div>
            </form>
          </div>

          <!-- Password tab -->
          <div aria-labelledby="password" class="tab-pane fade" id="password-tab" role="tabpanel"
               style="min-height: 510px;">
            <h3 class="mb-4">Password Settings</h3>
            <form #passwordForm="ngForm" (ngSubmit)="updatePassword(passwordForm)">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="currentPassword">Current password</label>
                    <input [disabled]="(isLoading$ | async)" class="form-control" id="currentPassword" name="currentPassword" ngModel
                           required type="password">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="newPassword">New password</label>
                    <input [disabled]="(isLoading$ | async)" class="form-control" id="newPassword" minlength="5" name="newPassword"
                           ngModel required type="password">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="confirmPassword">Confirm new password</label>
                    <input [disabled]="(isLoading$ | async)" class="form-control" id="confirmPassword" minlength="5" name="confirmPassword"
                           ngModel required type="password">
                  </div>
                </div>
              </div>
              <div>
                <button [disabled]="passwordForm.invalid || (isLoading$ | async)" class="btn btn-primary" type="submit">
                  @if ((isLoading$ | async)) {
                    <span aria-hidden="true" class="spinner-border spinner-border-sm" role="status"
                          style="margin-right: 5px;"></span>
                    <span>Loading...</span>
                  } @else {
                    <span>Update</span>
                  }
                </button>
              </div>
            </form>
          </div>

          <!-- Authorization tab -->
          <div aria-labelledby="security" class="tab-pane fade" id="security-tab" role="tabpanel"
               style="min-height: 510px;">
            <h3 class="mb-4">Authorization Settings</h3>
            <form #roleForm="ngForm" (ngSubmit)="updateRole(roleForm)">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="roleName" style="margin-bottom: 5px;">Role Name</label>
                    <select
                      [disabled]="!hasPermission('CREATE:USER') || (isLoading$ | async)"
                      [ngModel]="state.appData?.data?.user.roleName"
                      class="form-control select-cl" id="roleName" name="roleName" required>
                      @for (role of state.appData?.data?.roles; track role.name) {
                        <option [ngValue]="role.name"
                                [selected]="state.appData?.data?.user.roleName === role.name"
                                class="select-cl">{{ role.name }}
                        </option>
                      }
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <p style="margin-bottom: 5px;">Role Permissions</p>
                    @for (permission of state.appData?.data?.user.permissions.split(','); track permission) {
                      <input [disabled]="true" [value]="permission" class="form-control"
                             style="margin-bottom: 5px;" type="text">
                    }
                  </div>
                </div>
              </div>
              <div>
                <button
                  [disabled]="!hasPermission('CREATE:USER') || (isLoading$ | async)"
                  class="btn btn-primary" type="submit">
                  @if ((isLoading$ | async)) {
                    <span aria-hidden="true" class="spinner-border spinner-border-sm" role="status"
                          style="margin-right: 5px;"></span>
                    <span>Loading...</span>
                  } @else {
                    <span>Update</span>
                  }
                </button>
              </div>
            </form>
          </div>

          <!-- Account tab -->
          <div aria-labelledby="application" class="tab-pane fade" id="application-tab" role="tabpanel"
               style="min-height: 510px;">
            <h3 class="mb-4">Account Settings</h3>
            <form #settingsForm="ngForm" (ngSubmit)="updateAccountSettings(settingsForm)">
              <input name="userId" type="hidden">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="form-check">
                      <input [checked]="state.appData?.data?.user.enabled"
                             [disabled]="!hasPermission('CREATE:USER') || (isLoading$ | async)"
                             [ngModel]="state.appData?.data?.user.enabled"
                             class="form-check-input" id="enabled" name="enabled" type="checkbox">
                      <label class="form-check-label" for="enabled">Account Active</label>
                    </div>
                    <div class="form-check">
                      <input [checked]="state.appData?.data?.user.isNotLocked"
                             [disabled]="!hasPermission('CREATE:USER') || (isLoading$ | async)"
                             [ngModel]="state.appData?.data?.user.isNotLocked"
                             class="form-check-input" id="isNotLocked" name="isNotLocked" type="checkbox">
                      <label class="form-check-label" for="isNotLocked">Account Unlocked</label>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <button
                  [disabled]="!hasPermission('CREATE:USER') || (isLoading$ | async)"
                  class="btn btn-primary" type="submit">
                  @if ((isLoading$ | async)) {
                    <span aria-hidden="true" class="spinner-border spinner-border-sm" role="status"
                          style="margin-right: 5px;"></span>
                    <span>Loading...</span>
                  } @else {
                    <span>Update</span>
                  }
                </button>
              </div>
            </form>
          </div>

          <!-- Authentication tab -->
          <div aria-labelledby="notification" class="tab-pane fade" id="notification-tab" role="tabpanel"
               style="min-height: 510px;">
            <h3 class="mb-4">Authentication Settings</h3>
            <p>These settings help keep your account more secure.</p>
            <div class="list-group mb-5 shadow">
              <div class="list-group-item">
                <div class="row align-items-center">
                  <div class="col">
                    <strong class="mb-2">Multi-Factor Authentication</strong>
                    @if (state.appData?.data?.user.using2FA) {
                      <span class="badge bg-success mx-3">Enabled</span>
                    } @else {
                      <span class="badge bg-warning mx-3">Disabled</span>
                    }
                    <p class="text-muted mb-0">
                      Set up Multi-factor Authentication (MFA) to help keep your account more secure.
                    </p>
                  </div>
                  <div class="col-auto">
                    <button (click)="toggleMfa()"
                            [disabled]="!hasPermission('UPDATE:USER') || (isLoading$ | async)"
                            class="btn btn-primary btn-sm">
                      {{ state.appData?.data?.user.using2FA ? 'Disable' : 'Enable' }}
                      @if ((isLoading$ | async)) {
                        <span aria-hidden="true" class="spinner-border spinner-border-sm" role="status"
                              style="margin-right: 5px;"></span>
                      }
                    </button>
                  </div>
                </div>
              </div>
              <div class="list-group-item">
                <div class="row align-items-center">
                  <div class="col">
                    <strong class="mb-2">Activity Logs</strong>
                    <p class="text-muted mb-0">Show the latest activities on your account.</p>
                  </div>
                  <div class="col-auto">
                    <div class="form-check form-switch">
                      <input (change)="toggleLogs()" [checked]="showLogs()" [disabled]="(isLoading$ | async)"
                             class="form-check-input" id="activityLog" role="switch" type="checkbox">
                      <label class="form-check-label" for="activityLog"></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      @if (showLogs()) {
        <div class="row">
          <div class="col-xl-12 mt-4">
            <div class="card" style="border-radius: 8px;">
              <div class="card-body">
                <h5 class="card-title">Account Activities</h5>
                <h6 class="card-subtitle mb-2 text-muted">Latest activities on your account.</h6>
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th scope="col">Device</th>
                    <th scope="col">IP Address</th>
                    <th scope="col">Date</th>
                    <th scope="col">Type</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <!--       @for (event of state.appData?.data?.event
                      -s; track event.createdAt) {   -->
                    @for (event of dummyEvents(); track event.createdAt) {
                      <tr>
                        <td>{{ event.device }}</td>
                        <td>{{ event.ipAddress }}</td>
                        <td>{{ event.createdAt | date: 'MMMM d, y, h:mm a' }}</td>
                        <td>
                          <span [class.bg-danger]="event.type === EventType.LOGIN_ATTEMPT_FAILURE"
                                [class.bg-info]="event.type === EventType.ROLE_UPDATE
                                                 || event.type === EventType.MFA_UPDATE"
                                [class.bg-primary]="event.type === EventType.PROFILE_UPDATE
                                                    || event.type === EventType.PROFILE_PICTURE_UPDATE"
                                [class.bg-success]="event.type === EventType.LOGIN_ATTEMPT_SUCCESS"
                                [class.bg-warning]="event.type === EventType.LOGIN_ATTEMPT
                                                    || event.type === EventType.ACCOUNT_SETTINGS_UPDATE
                                                    || event.type === EventType.PASSWORD_UPDATE"
                                class="badge pill">
                            {{ event.type }}
                          </span>
                        </td>
                        <td>{{ event.description }}</td>
                        <td>
                          <button class="btn btn-sm" style="background-color: #fd5d0d; font-weight: 450;" type="button">
                            Report
                          </button>
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </section>
}

<!-- profile image change form -->
<form enctype="multipart/form-data" style="display:none;">
  <input #fileInput (change)="updatePicture($event)" accept="image/*" id="image" name="image"
         ngModel placeholder="file" type="file" />
</form>
