<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a [routerLink]="['/']" class="navbar-brand">
      <i class="bi bi-safe" style="margin-right: 5px;"></i>
      A Cool Application
    </a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse"
            type="button"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
             id="navbarDropdownCustomers"
             role="button">
            Customers
          </a>
          <ul aria-labelledby="navbarDropdownCustomers" class="dropdown-menu dropdown-menu-end">
            <li><a [routerLink]="['/customer/new']" class="dropdown-item"><i class="bi bi-person-plus-fill"
                                                                             style="padding-right: 8px;"></i>New
              Customer</a></li>
            <li><a [routerLink]="['/customers']" class="dropdown-item"><i class="bi bi-people-fill"
                                                                          style="padding-right: 8px;"></i>All
              Customers</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
             id="navbarDropdownInvoices"
             role="button">
            Invoices
          </a>
          <ul aria-labelledby="navbarDropdownInvoices" class="dropdown-menu dropdown-menu-end">
            <li><a [routerLink]="['/invoice/new']" class="dropdown-item"><i class="bi bi-receipt"
                                                                            style="padding-right: 8px;"></i>New Invoice</a>
            </li>
            <li><a [routerLink]="['/invoices']" class="dropdown-item"><i class="bi bi-receipt-cutoff"
                                                                         style="padding-right: 8px;"></i>All
              Invoices</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
             id="navbarDropdownProfile"
             role="button">
            @if (user; as u) {
              <div style="position: relative; width: 60px; height: 60px; border-radius: 50%; overflow: hidden;">
                <img [alt]="u.firstName" [ngSrc]="u.imageUrl" fill style="object-fit: cover;" class="user-avatar-md">
              </div>
            } @else {
              <i class="bi bi-person-circle" style="font-size: 1.5rem;"></i>
            }
          </a>
          <ul aria-labelledby="navbarDropdownProfile" class="dropdown-menu dropdown-menu-end">
            @if (user; as u) {
              <li><a [routerLink]="['/profile']" class="dropdown-item"><i class="bi bi-person-circle"
                                                                          style="padding-right: 8px;"></i>{{ u.firstName }} {{ u.lastName }}</a>
              </li>
            }
            <li style="cursor: pointer;"><a (click)="logOut()" (keydown.enter)="logOut()" class="dropdown-item"
                                            role="button" tabindex="0"><i
              class="bi bi-box-arrow-in-right"
              style="padding-right: 8px;"></i>Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
